@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}
/* Put custom classes inside a layer */
@layer components {
  .input-field {
    @apply mt-1 w-full rounded-lg border px-3 py-2
           focus:outline-none focus:ring-2 focus:ring-indigo-500;
  }
}
@theme {
  /* surfaces */
  --color-surface: oklch(92% 0.005 56.366);
  --color-surfaceLight: oklch(89% 0.005 56.366);
  --color-surfaceDark: oklch(86% 0.005 56.366);

  /* border */
  --color-borderInk: oklch(93% 0 0);

  /* text */
  --color-ink: oklch(28% 0 0);
  --color-ink-soft: oklch(35% 0 0);
  --color-ink-strong: oklch(10% 0 0);

   /* footer */
  --color-footer-bg: oklch(35% 0 0);
  --color-footer-ink: oklch(92% 0 0);
  --color-footer-ink-soft: oklch(80% 0 0);
  --color-footer-ink-muted: oklch(68% 0 0);
}